<% if (typeof(order[0]) != 'undefined' && order[0] && typeof(order[0].table) != 'undefined' ) {%>
  <div id="header-content" class="callout">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav nav-pills nav-fill">
            <li class="nav-item"><a class="nav-link" href="/games">Play Breakout</a></li>
            <li class="nav-item"><a class="nav-link" href="/games2">Play Space Invaders</a></li>
            <li class="nav-item"><a class="nav-link" href="/games3">Play 2048</a></li>
        </div>
      </nav>
    </div>
  </div>
<% } else { %>
  <div id="header-content" class="callout">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav nav-pills nav-fill">
            <li class="active nav-item"><a class="nav-link" data-toggle="tab" href="#menuhome">Restaurant Home</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#entrees">Entrees</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#appetizers">Appetizers</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#desserts">Desserts</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#drinks">Drinks</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids-meals">Kids Meals</a></li>
            <li class="nav-item"><a class="nav-link" onclick="cart_expand()" data-toggle="tab" href="#cart">Food Cart</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right nav-pills nav-fill">
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
      </nav>
    </div>
  </div>
<% } %>
