<!-- https://www.bootply.com/uBoT3zP1P2 -->
<div id="MainMenu">
  <div class="list-group panel">
    <a href="/" class="list-group-item">Home</a>
    <a href="/kitchen" class="list-group-item">kitchen</a>
    <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">example</a>
    <div class="collapse" id="demo3">
      <a href="#SubMenu1" class="list-group-item" data-toggle="collapse" data-parent="#SubMenu1">example01<i class="fa fa-caret-down"></i></a>
      <div class="collapse list-group-submenu" id="SubMenu1">
        <a href="/" class="list-group-item" data-parent="#SubMenu1">Intro</a>
        <a href="/"
           class="list-group-item"
           data-parent="#SubMenu1">example01.1</a>
        <a href="/"
           class="list-group-item"
           data-parent="#SubMenu1">example01.2</a>
      </div>
      <a href="/kitchen"
         class="list-group-item">kitchen</a>
      <a href="/waiters"
         class="list-group-item">waiters</a>
    </div>
  </div>
</div>
